body{
  background-color: #EDF5E1;
  margin: 0;
  padding: 0;
}

.navigation-bar {
  position: absolute;
  top: 20px;
  left: 20px;
}

.linkedin-button,
.github-button {
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s ease;
    margin-right: 20px;
}

.linkedin-button img,
.github-button img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.icon-container img {
  width: 100%;
  border-radius: 50%;
}


.linkedin-button:hover,
.github-button:hover {
  background-color: #808080;
  border-radius: 100%;
}


.links {
  margin-right: 8px;
}

#home {
  height: 100vh; /* 100% of the viewport height */
  width: 100vw; /* 100% of the viewport width */
  display: flex;
  background-color: #FFA500;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about{
  background-color: #EDF5E1;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#projects{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
}

.project-card {
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.project-card img {
  width: 100%; /* Set the image width to 100% of its container */
  height: 300px; /* Maintain the aspect ratio */
  transition: transform 0.3s ease-in-out;
}

.project-card h2{
  font-size: 24px
}

.project-card:hover,
.project-card.active {
  transform: scale(1.05);
}

.project-details {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(237, 245, 225, 0.9);
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  transition: opacity 0.3s ease-in-out;
}

.project-details.active {
  display: block;
  opacity: 1;
}

#contact {
  text-align: center;
  margin-top: 100px;
  background-color: #EDF5E1;
  position: relative;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

h1 {
  color: #000000;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Rubik", sans-serif, bold;
  font-weight: 700;
  font-optical-sizing: auto;
  padding-bottom: 10px;
}

h2 {
  color: #000000;
  margin: 50px auto 0 auto;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  padding-bottom: 10px;
  font-size: 32px
}

h3 {
  color: #000000;
  margin: 50px auto 0 auto;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
  font-size: 18px
}

.profile-pic {
  border-radius: 50%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 50%;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  width: 10%;
  background-color: #228B22;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #808080;
}

/* Style for the navigation bar */
.navigation {
  background-color: rgba(135, 206, 250, 0.7);
  padding: 10px; /* Padding inside the navigation bar */
  position: fixed; /* Fix the navigation bar at the top of the viewport */
  width: 100%; /* Full width of the viewport */
  top: 0; /* Distance from the top of the viewport */
  z-index: 1000; /* Set the z-index to make sure it's above other elements */
  display: flex;
  justify-content: space-between; /* Space items evenly on the main axis */
  align-items: center; /* Center items on the cross axis */
  transition: background-color 0.3s ease
}

/* Style for the navigation list */
.nav-list {
  list-style: none; /* Remove default list styles */
  display: flex; /* Display the list items horizontally */
  margin: 0;
  padding: 0;
}

/* Style for each navigation item */
.nav-list li {
  margin-right: 100px; /* Spacing between each list item */
}

/* Style for each navigation link */
.nav-list a {
  text-decoration: none; /* Remove underline from links */
  color: white; /* Default text color */
  margin: 50px auto 0 auto;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  padding-bottom: 10px;
  font-size: 32px
}

/* Style for the active link and hover effect */
.nav-list a:hover,
.nav-list a.active {
  color: #808080; /* Color when hovered or active */
}

.nav-left {
  display: flex;
  margin: 0;
  padding: 0;
}

#scroll-arrow {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#scroll-arrow svg {
  width: 100%;
  height: auto;
  margin: 5px 0;
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}